body {
  padding-top: 70px; 
  background-color:#e9ebee;
}
panel {

}
.col-centered{
    float: none;
    margin: 0 auto;
}
.mbonly{
	display:none;
}
.logo img{
	width:100%;
	margin: 0 auto;
}
.login{
width:30%;margin: auto;
}
.login input{
margin-bottom: 5px;
width:100%;
}
.login button{
margin:0 auto;
width:100%;
}
@media (max-width: 768px){
.mbhidden{
	display:none;
}
.mbonly{
	display:initial;
}
}